<nz-layout class="app-layout">
  <nz-sider 
  class="menu-sidebar" 
  nzCollapsible 
  [nzWidth]="256" 
  nzBreakpoint="md" 
  [nzCollapsed]="isCollapsed"
  [nzTrigger]="null">
    <app-sidebar [isCollapsed]="isCollapsed"></app-sidebar>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <app-header (sidebarToggle)="toggleChange()" [isCollapsed]="isCollapsed" [isLogin]="isLogin"></app-header>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>
      <app-footer></app-footer>
    </nz-footer>
  </nz-layout>
</nz-layout>