// /* You can add global styles to this file, and also import other style files */
html, app-root, body, .app-layout{
    width: 100%;
    height: 100%;
    margin: 0;
}

::-webkit-scrollbar
{
    width: 4px;
    height: 4px;
}
 
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #bcc1c5;
}