.header-trigger {
    height: 64px;
    padding: 20px 24px;
    font-size: 20px;
    cursor: pointer;
    transition: all .3s,padding 0s;
}
  
.trigger:hover {
    color: #1890ff;
}

.app-header {
    position: relative;
    height: 64px;
    padding: 0;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0,21,41,.08);
}
  
.menu {
    float: right;
    margin-right: 20px;
    
}

.fill-space {
  padding-right: 15px;
  cursor: pointer;
}

.fill-space a {
    color: gray;
}