.task-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    padding: 10px;
    background: #001529;
}

.fill{
    flex: 1;
    text-align: center;
}
.header {
    color: #fff;
}

.btn {
    background: #001529;
    border: none; 
    color: #fff;
}