/* You can add global styles to this file, and also import other style files */
// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; // 全局引用material的样式
@import 'theme.scss'; // 自定义主题

html, body, app-root, mat-sidenav-container, .site{
    width: 100%;
    height: 100%;
    margin: 0;
}
.site{
    display: flex;
    flex-direction: column;
}

main{
    flex: 1;
    // background-color: grey;
}
header{
    background-color: skyblue;
}
footer{
    background-color: skyblue;
}

.fill-remaining-space{
    flex: 1 1 auto;
}

.example-full-width{
    width: 100%;
}