<div class="tasklists">
    <app-task-list *ngFor="let list of lists" class="list-container">
        <app-task-header 
        [header]="list.name" 
        (newTask)="launchNewTaskDialog()" 
        (copyTask)="launchCopyTaskDialog()"
        (deleteTask)="launchDeleteTaskDialog()"
        ></app-task-header>
        <app-task-item *ngFor="let task of list.tasks" [item]="task" (taskClick)="launchUpdateTaskDialog(task)"></app-task-item>
    </app-task-list>
</div>

<button class="fab-button" mat-fab type="button" (click)="launchNewTaskDialog()">
    <mat-icon>add</mat-icon>
</button>