<div class="project">
    <app-project-item class="project-card" *ngFor="let project of projects" [item]="project"
        (delProject)="launchDelConfirmModal($event)"
        (editProject)="editProject($event)">

    </app-project-item>

    <nz-modal [nzVisible]="isNewVisible" nzTitle="新建项目" (nzOnCancel)="newCancel()" (nzOnOk)="newOk()">
        <div class="input">
            <nz-input-group nzAddOnBefore="任务名称">
                <input nz-input type="text" [(ngModel)]="nameValue" name="name">
            </nz-input-group>
        </div>
        <div class="input">
            <nz-input-group nzAddOnBefore="任务描述">
                <input nz-input type="text" [(ngModel)]="descValue" name="desc">
            </nz-input-group>
        </div>
    </nz-modal>

    <nz-modal [nzVisible]="isEditVisible" nzTitle="编辑项目" (nzOnCancel)="editCancel()" (nzOnOk)="editOk()">
        <div class="input">
            <nz-input-group nzAddOnBefore="任务名称">
                <input nz-input type="text" [(ngModel)]="editName" name="editName">
            </nz-input-group>
        </div>
        <div class="input">
            <nz-input-group nzAddOnBefore="任务描述">
                <input nz-input type="text" [(ngModel)]="editDesc" name="editDesc">
            </nz-input-group>
        </div>
    </nz-modal>

    <button nz-button class="fab-button" nzType="primary" nzSize="large" nzShape="circle" (click)="newProject()">
        <i nz-icon nzType="plus"></i>
    </button>
</div>