.project {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.project-card {
    height: 300px;
    flex: 0 0 250px;
    margin: 10px;
    padding: 10px;
}

.fab-button {
    position: fixed;
    right: 32px;
    bottom: 96px;
    z-index: 998;
}

.input {
    margin-bottom: 16px;
}